# Server Node.js
PORT=

# Aiven MySQL
DB_HOST=

DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

DB_SSL=true
DB_SSL_CA_PATH=./certs/ca.pem

JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=1@gmail.com
SMTP_PASS=
SMTP_FROM=1@gmail.com
